body {
  max-width: 1440px;
  margin: auto !important;
}
@media (max-width: 1020px) {
  .hero-container .hero-titre {
    font-size: 9vw;
  }
}
/* Structure de base du header */
.header_container {
  margin: auto;
  display: flex;
  justify-content: space-around; /* Change 'space-around' en 'space-between' pour maximiser l'espace */
  align-items: center;
  position: relative;
  top: -15px;
}

.logo_header {
  width: 350px;
}

/* Menu des boutons */
.header_btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px; /* Remplace margin-right par gap pour un espacement uniforme */
}

/* Liens du menu */
.header_btn li {
  margin: 0;
}

.header_btn li a {
  color: #000;
  text-decoration: none;
  font-family: "Space Mono";
}

/* Styles du bouton hamburger */
.hamburger-menu {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.hamburger-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: #333;
}

/* Cacher le menu sur mobile par défaut */
@media (max-width: 768px) {
  .header_btn {
    display: none; /* Cacher le menu sur les petits écrans */
    flex-direction: column;
    width: 100%; /* S'assurer que le menu occupe toute la largeur du header */
    text-align: center;
    padding: 20px 0;
    background-color: rgba(224, 0, 0, 1);
    position: absolute;
    top: 60px; /* Un peu d'espace pour éviter que le menu chevauche le logo */
    left: 0;
    z-index: 9; /* Priorité sur l'affichage */
  }

  .header_btn.active {
    display: flex;
    gap: 0;
    /* Afficher le menu quand il est activé */
  }

  .header_btn li {
    margin: 10px 0; /* Espacement entre les éléments du menu */
  }

  .header_btn li a {
    font-size: 44px;
    color: white;
  }
  .hamburger-menu {
    display: block; /* Afficher le bouton hamburger */
  }
}

/* Assurer que le menu n'interfère pas avec le contenu en dessous */
body {
  margin-top: 60px; /* Rajoute de l'espace au corps du site pour que le menu n'interfère pas */
}

.hero-container {
  position: relative;
  margin: auto;
}

.hero-img {
  max-width: 1440px;
  width: 100%;
  position: relative;
}
.hero-titre {
  display: flex;
  position: absolute;
  max-width: 1000px;
  width: 100%;
  top: 40%;
  left: 50%;
  gap: 10px;
  font-size: 96px;
  line-height: 142.18px;
  font-weight: 700;
  font-family: "Space Mono", monospace;
  font-style: italic;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px white;
  transform: translate(-50%, -50%);
}

.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00000060;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999; /* à enlever */
  top: 0;
  left: 0;
}
.popup-salon {
  background: white;
  border-radius: 20px;
  max-width: 680px;
  position: relative;
  overflow: hidden;
  padding-left: 166px;
  padding-right: 166px;
}

.popup-btn,
.popup-salon .wpcf7-submit {
  display: inline-block;
  background-color: #28babf;
  line-height: 20px;
  padding: 6px 16px;
  color: white;
  border-radius: 6px;
  transition: all 0.4s ease;
}
.popup-btn:hover,
.popup-salon .wpcf7-submit:hover {
  background: #2377a8;
  color: white;
}
.popup-header {
  margin-bottom: 20px;
  margin-top: 150px;
}
.popup-header h3 {
  margin-bottom: 5px;
}

.popup-titre {
  position: absolute;
  width: 886px;
  height: 106px;
  top: -40px;
  left: -151px;
  font-size: 67px;
  font-family: "Space Mono";
  font-style: italic;
  font-weight: 500;
  line-height: 50px;
}
.frm_required {
  opacity: 0;
}
.with_frm_style textarea {
  height: 210px;
}
.filters {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de se répartir sur plusieurs lignes si nécessaire */
  justify-content: flex-start;
  gap: 20px; /* Espace entre les éléments */
}

.filters select {
  left: 10%;
  border-radius: 8px;
  height: 42px;
  width: 100%; /* Adapte la largeur de l'élément à son conteneur parent */
  max-width: 260px; /* Largeur maximale */
  text-indent: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px; /* Réduit la marge inférieure */
  position: relative;
}

#date-select {
  left: -10%;
  margin-left: auto; /* Centre l'élément si nécessaire */
}

/* Media query pour les écrans plus petits (moins de 768px de large) */
@media (max-width: 1025px) {
  .filters {
    flex-direction: column;
    align-content: center;
  }
  .filters select {
    left: -10%;
  }
}

.hidden {
  display: none;
}
#galerie {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 20px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

#galerie .image-item img {
  width: 565px;
  height: 500px;
  margin: 0 10px 20px;
  object-fit: cover;
}
#galerie p {
  width: 100%;
}
.image-item {
  position: relative;
  overflow: hidden; /* Cache tout ce qui dépasse, pour l'effet d'assombrissement*/
  height: 520px;
}
.image-item button {
  border: none;
  display: flex;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.image-item div {
  font-family: "Poppins";
  display: flex;
  position: relative;
  text-transform: uppercase;
  color: white;
  overflow: hidden;
}
button.fullscreen-btn {
  transform: scale(1.5);
  background-color: black;
  top: -500px;
  right: -530px;
  color: white;
  border-radius: 11px;
  padding: 5.5px;
}
.photo-image img {
  width: 683px;
  height: 1024px;
  object-fit: cover;
}

button.photo-info-btn {
  top: -58%;
  right: -48%;
  transform: scale(3);
  background-color: transparent;
  color: white;
}
button.photo-info-btn a {
  color: white;
}
.categorie-photo {
  justify-content: flex-end;
  top: -22%;
  right: 5%;
}
.reference-photo {
  top: -17%;
  left: 5%;
}

/* Transition d'assombrissement de l'image */
.image-item img {
  transition: filter 300ms ease-out; /* Transition pour l'effet d'assombrissement */
}

/* Initialement, les éléments sont invisibles */
.image-item .photo-info-btn,
.image-item .photo-top-right-btn,
.image-item .reference-photo,
.image-item .categorie-photo,
.image-item .fullscreen-btn {
  opacity: 0;
  transition: opacity 300ms ease-out; /* Transition pour l'apparition */
}

/* Assombrissement de l'image au survol */
.image-item:hover img {
  filter: brightness(60%); /* Assombrissement de l'image */
}

/* Apparition des éléments au survol */
.image-item:hover .photo-info-btn,
.image-item:hover .photo-top-right-btn,
.image-item:hover .reference-photo,
.image-item:hover .categorie-photo,
.image-item:hover .fullscreen-btn {
  opacity: 1; /* Rendre visibles les éléments */
}

/* Style général de la lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 20px;
}

.lightbox img {
  max-width: 75%;
  max-height: 80%;
  display: block;
  margin: 0 auto;
}

/* Informations sous l'image */
.lightbox-info {
  display: flex;
  font-family: "Poppins";
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  color: #fff;
  justify-content: space-around;
}

.lightbox-info .photo-ref {
  font-weight: bold;
}

.lightbox-info .categorie {
  font-style: italic;
}

/* Flèches pour naviguer */
.lightbox-arrow {
  user-select: none;
  position: absolute;
  font-family: "Space Mono";
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.lightbox-arrow.left {
  left: 110px;
}

.lightbox-arrow.right {
  right: 150px;
}

/* Croisillon pour fermer la lightbox */
.lightbox-close {
  position: absolute;
  top: 20px;
  right: 100px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  background-color: transparent;
  border-style: none;
}

#load-more {
  background-color: rgba(216, 216, 216, 1);
  height: 50px;
  width: 272px;
  margin: 30px auto;
  border: 0;
  font-weight: 400;
  font-family: "Space Mono";
  cursor: pointer;
}
@media (max-width: 885px) {
  .footer_container {
    flex-direction: column;
  }
}

.footer_container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 2px solid #000;
  align-items: center;
}
.footer_container div {
  margin: 5px 50px;
}
.footer_container div a {
  font-family: "Space Mono";
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  justify-content: center;
}
.line-footer {
  height: 1px;
  color: #000;
}
@media (max-width: 1480px) {
  section .photo-single {
    flex-direction: column-reverse;
    align-items: center;
  }
  div .photo-info {
    left: 9%;
  }
}
@media (max-width: 725px) {
  .photo-image img {
    width: 95vw;
    height: 500px;
  }
  .photo-contact {
    flex-direction: column;
  }
  div .related-photo-1 {
    margin-right: 0;
  }
  section div .photo-contact-btn {
    left: 0;
  }
}
@media (max-width: 465px) {
}
.photo-single {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.photo-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  left: -18%;
}
.photo-info h2,
.photo-info p {
  font-family: "Space Mono";
  text-transform: uppercase;
  font-weight: 400;
}
.photo-info h2 {
  font-size: 66px;
  font-style: italic;
  line-height: 58px;
  width: 500px;
  margin: 0;
}
.photo-info p {
  font-size: 14px;
}
.photo-contact-navigation-section {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photo-contact {
  display: flex;
  width: 745px;
  border-top: solid black 1px;
  padding: 32px 0;
  margin-top: 25px;
}
a.photo-contact-btn {
  color: black;
  text-decoration: none;
  background-color: rgba(216, 216, 216, 1);
  width: 272px;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  font-family: "Space Mono";
  position: relative;
  left: 18%;
}
/* Container pour la navigation des photos */
.photo-navigation {
  position: relative; /* Pour positionner l'image preview de manière absolue */
  display: flex;
  justify-content: space-between; /* Disposer les flèches sur les bords */
  align-items: center;
  /* On n'utilise pas de width ici pour éviter de déplacer les éléments */
}

/* Container passif pour la photo preview */
.photo-preview {
  position: relative; /* Absolu par rapport au parent .photo-navigation */
  top: 0;
  left: 19%; /* Centré horizontalement */
  transform: translateX(
    -50%
  ); /* Ajuste le positionnement pour centrer parfaitement */
  display: none; /* Caché par défaut */
  z-index: 10; /* L'image preview sera au-dessus des flèches */
  max-width: 300px; /* Augmenter la taille de la preview (tu peux ajuster cette valeur) */
  max-height: 300px; /* Ajuste également la hauteur maximale */
  pointer-events: none; /* Permet d'éviter que l'image bloque les interactions avec les flèches */
}

/* Style de l'image dans le container preview */
#photo-preview-img {
  width: 100%; /* L'image prendra toute la largeur du container */
  height: auto; /* Garder les proportions de l'image */
  border-radius: 5px; /* Bords arrondis pour un effet plus doux */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre légère pour l'image */
}

/* Flèches - Pas de modification sur leur disposition */
.photo-nav-link {
  display: inline-block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-size: 24px; /* Taille des flèches */
  transition: color 0.3s;
}

.photo-nav-link:hover {
  color: #007bff; /* Changer la couleur des flèches au survol */
}

.arrow-left-container,
.arrow-right-container {
  margin-top: 74%;
  right: 35%;
}
.arrow-right,
.arrow-left {
  color: #000;
  font-size: 25px;
}

.related-photos-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.related-photos h3 {
  font-family: "Space Mono";
  font-weight: 400;
  margin: 70px 0;
}
.related-photo {
  height: 555px;
}
.related-photo-1 {
  margin-right: 20px;
}

.related-photo img {
  height: 565px;
  width: 710px;
  object-fit: cover;
}

.lightbox {
  display: none;
  /* autres styles */
}
.fullscreen-btn-related {
  top: -550px !important;
  right: -660px !important;
}

.choices__inner {
  min-height: 0;
}

.choices__placeholder {
  opacity: 1;
}
.choices[data-type*="select-one"] {
  font-family: "Poppins";
  width: 260px;
}
.choices:last-child {
  margin-bottom: 24px;
}
.choices__inner {
  border: 1px solid rgba(184, 187, 194, 1);
  border-radius: 8px;
}

.is-focused .choices__inner {
  border: 1px solid rgba(184, 187, 194, 1);
  border-radius: 8px;
}
.choices {
  overflow: visible;
}

#categorie-select + .choices {
  margin-right: 95px; /* Déplacer à droite */
}

.choices:nth-of-type(1) {
  position: relative;
  left: 9.2%;
}

.choices:nth-of-type(2) {
  position: relative;
  left: 11%;
}

.choices:nth-of-type(3) {
  position: relative;
  left: 27vw;
}

.choices__item--choice:hover {
  background-color: rgba(255, 214, 214, 1) !important;
}

.is-selected {
  background-color: rgba(224, 0, 0, 1) !important;
  color: white;
}

@media (max-width: 1190px) {
  .choices:nth-of-type(3) {
    left: 13vw;
  }
}
